@tailwind base;
@tailwind components;
@tailwind utilities;
.customCursor {
  border-radius: 80;
  background-color: transparent;
}
.body {
  cursor: none;
}
.hoverable:hover {
  background-color: transparent;
  
}
